@import 'tailwindcss';
@import 'tailwindcss/preflight';
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ffff;
}
/* ::-webkit-scrollbar-thumb {
  background: #801517;
  border-radius: 4px;
} */
